<div class="container-fluid  bg-dark text-white py-3 text-center">
    <div class="footer">
       <div class="row">
        <div class="col-md-4">
            <h3>Location</h3>
            <p>2215 John Daniel Drive
                Clark, MO 65243</p>
        </div>
        <div class="col-md-4">
            <h3>Around the Web</h3>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-dribbble"></i>
        </div>
        <div class="col-md-4">
            <h3>ABOUT FREELANCER</h3>
            <p>Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
        </div>
       </div>
       <div class="row w-100">
        <div class="copyrights w-100 bg-black text-white py-3">
            <p>Copyright © Your Website 2021</p>
        </div>
       </div>
    </div>
</div>
