<div class="container px-5">
    <div class="contact">
        <h2 class="text-center fw-bolder mt-2">Contact Us</h2>
        <div class="divider">
            <div class="line">
            </div>
        </div>

        <div class="row">
            <input type="text" class="form-control mb-3" placeholder="Name" aria-label="name">
            <label for="Warning" class="Name-alert text-danger d-none" >Please enter your Name</label>
            <input type="email" class="form-control mb-3" placeholder="Email Address" aria-label="Email">
            <label for="Warning" class="Email-alert text-danger d-none" >Please enter your Email</label>
            <input type="number" class="form-control mb-3" placeholder="Phone Number" aria-label="PhoneNumber">
            <label for="Warning" class="Phone-number-alert text-danger d-none">Please enter your Phone Number</label>
            <textarea class="form-control mb-3" placeholder="Message" id="floatingTextarea"></textarea>
            <label for="Warning" class="Message-alert text-danger d-none">Please type your message</label>
        </div>
        <button class="btn btn-xl mb-2">Send</button>
    </div>
</div>
