<div class="container px-5">
    <div class="portofolio">
        <h2 class="text-center fw-bolder mt-2">Portofolio</h2>
        <div class="divider">
            <div class="line">
            </div>
        </div>
        <div class="row justify-content-center ">
                <div class="cards col-md-4 mb-3">
                    <img src="assets/images/cabin.png" class=" w-75 rounded" alt="">
                </div>
            <div class="cards col-md-4 mb-3">
                <img src="assets/images/cake.png" class="w-75 rounded" alt="">
            </div>
            <div class="cards col-md-4 mb-3">
                <img src="assets/images/circus.png" class="w-75 rounded" alt="">
            </div>
            <div class="cards col-md-4 mb-3">
                <img src="assets/images/game.png" class="w-75 rounded" alt="">
            </div>
            <div class="cards col-md-4 mb-3">
                <img src="assets/images/submarine.png" class="w-75 rounded" alt="">
            </div>
            <div class="cards col-md-4 mb-3">
                <img src="assets/images/safe.png" class="w-75 rounded" alt="">
            </div>
        </div>
    </div>
</div>
